.sidebar {
  border : 2px solid;
  border-color: #eeeeee;
  border-bottom: transparent;
  border-top: transparent;
  height: 100vmin;
  background-color: #fafafa;
}

.bucket_img {
  width: 30%;
}

.button {
  background-color: #2395ff;
  border-radius: 30px 30px 30px 30px;
  font-size: calc(0.75rem + ((1vw - 3.75px) * 0.2589));
}

.button:hover {
  background-color: #1778d3;
}

.button, .button:link, .button.visited, .button:active {
  color: #ffffff;
  text-decoration: none;
}

.button:hover {
  color: #dddddd;
  text-decoration: none;
}