.createlist {
  background-color: #fafafa;
  height: 100vmin;
}

.input_textbox {
  width: max(25vw,250px);
}

.createList_th{
  height: 8vh;
}


.createlist_title {
  border : 2px solid;
  border-color: #eeeeee;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
}

label {
  font-size: calc(0.75rem + ((1vw - 3.75px) * 0.2589));;
}