.createlist {
  background-color: #fafafa;
  height: 100vh;
}

.input_textbox {
  width: 25vw;
}

.createList_th{
  height: 8vh;
}


.createlist_title {
  border : 2px solid;
  border-color: #eeeeee;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
}