.listcatalog {
  background-color: #fafafa;
  height: 100vh;
}

.title {
  border : 2px solid;
  border-color: #eeeeee;
  border-left: transparent;
  border-top: transparent;
  border-right: transparent;
  background-color: #fafafa;
}

.list_meter {
  width: calc(9.375rem + ((1vw - 3.75px) * 22.6537));
  height: 5vh;

}

.list_meter::-webkit-meter-optimum-value{
  background: #ebfa1b;
  width: calc(9.375rem + ((1vw - 3.75px) * 22.6537));
  height: 5vh;
}

:-moz-meter-optimum::-moz-meter-bar {
  background: #ebfa1b;
}

.list_link ,.list_link:hover,.list_link:visited,.list_link:active{
  font-size: 1.5em;
  color: #333333;
  text-decoration: none;
}


.all_achieved_icon {
  background-color: #faac1b;
  color: #ffffff;
  border-radius: 5px 5px 5px 5px;
}